.reset-game {
    height: 30px;
    width: 150px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    background: #ff99cc;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 5px;
}

.reset-game:hover {
    background: #2c3e52;
}